@{
    ViewBag.Title = "Dane Kontaktowe";
}
<h2>@ViewBag.Title</h2>
<h3>Twórca aplikacji</h3>


<address>
    Mikołaj Drygas<br/>
    Bukówko 20<br/>
    Krotoszyn<br/><br/>
    telefon kontaktowy: 664 938 407<br/>   
</address>

<address>
    <strong>Wsparcie:</strong>   <a href="mailto:mikolaj_drygas@tlen.pl">mikolaj_drygas@tlen.pl</a><br />

</address>