@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <br/>
    <br/>
    <br/>
    <br />
    <h1 style="color: black">DryStream Administracja </h1>
    <br />
    <br />
    <br />
    <br />
</div>

<div class="row">
   
   
</div>