@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="color: black">DryStream Administracja </h1>
    <p style="color: black" class="lead">Musisz być zalogowany, aby dokonywać zmiany</p>

    <p > @Html.ActionLink("Zaloguj się", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink",
        @class = "btn btn-primary"})
          </p>
</div>

<div class="row">
   
   
</div>