
@{
    ViewBag.Title = "Dane do przelewu";
}

<h1>Dane do przelewu</h1>

<hr />
<h4>Nr konta: 77 1234 4203 1204 0000 0000 0001</h4>
<h4>Tytuł: "W tytule proszę wpisać swój login"</h4>
<h4>Adres:</h4>
<address>
    DryStream<br />
    Bukówko 20<br />
    63-700 Krotoszyn<br /><br />
</address>


